@import "bootstrap";

$bgColor: #888;

a, a:link, a:active, a:hover, a:visited { color: inherit; text-decoration: inherit; }


@mixin linkTransition($color){
  a{
    transition: all .4s;
    -webkit-transition: all .4s; /* Safari */
    &:hover {
      color: $color;
      text-decoration: none;
    }
  }
}


.navbar{
  width: 100%;
  position: fixed;
  height: 50px;
  padding: 5px;
  margin: 0;
  background-color: $bgColor;
  font-size: 20px;
  border-radius: 0;

  ul{
    display: inline;
    margin: 0;
    padding: 0;
    li{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline;
      color: #fff;

      @include linkTransition(#ffcc00);
    }
  }
  p{
    color: #000000;
    display: inline;
    margin-right: 10px;
    font-size: 25px;
  }
}

.user-info{
  float: right;
  display: inline;
  color: #fff;


  @include linkTransition(#f00);

  h3{
    display: inline;
    font-size: 16px;
    font-weight: bold;
  }
}

.mainContainer{
  padding: 55px 5px 0px 5px;
  min-height: 400px;

  h1{
    text-align: center;
    font-weight: bold;
  }
}

.footer{
  width: 90%;
  margin-left: 5%;
  margin-top: 25px;
  padding: 0 20px 0 20px;

  small{
    float: left;
    font-size: 15px;
  }

  address{
    font-size: 14px;
    float: right;
    @include linkTransition($bgColor);
  }

}

.submit-bt{
  height: 40px;
  background-color: #0066ee;
  color: #fff;
  font-size: 22px;
}

.thinColumn{
  width: 50%;
  margin-left: 25%;
}

.leftColumn{
  width: 20%;
  margin-left: 5%;
}

.rightColumn{
  width: 65%;
  margin: 0 5% 0 5%;

}

.formulario{
  width: 50%;
  margin-left: 25%;

  label{
    width: 100%;
  }

  input{
    width: 100%;
    margin-bottom: 10px;
    border: solid 1px #cccccc;
    border-radius: 2px;

    &:focus{
      border: solid 2px #0044dd;
      box-shadow: 0px 1px 5px #999;
    }
  }
}

#error_explanation{

  ul li{
    color: #f00;
  }
}

.profileContainer {
  @extend .leftColumn;
  display: inline-block;
  font-size: 18px;
  color: #0066ee;
  label{
    color: #000;
  }
}

.users{
  @extend .thinColumn;

  table {
    width: 100%;
    tr{
      padding: 20px;
    }

    td{
      width: 50%;
      padding: 0 0 0 30px;
      font-size: 22px;
      @include linkTransition(#ff0000);
      list-style-type: none;
    }
  }
}

.coltitle{
  color: #0033cc;
}

.microposts{
  @extend .rightcolumn;
  display: inline-block;
  vertical-align: top;
  h3{
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
  }
  width: 65%;
}

.micropost-content{
  list-style-type: none;
  margin: 5px;
  padding: 5px 20px 5px 20px;
  font-size: 19px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;

  .post-info{
    text-align: justify;

    /* IE special */
    width: 100%;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    &:after {
      display: inline-block;
      width: 100%;
      height: 0;
      font-size:0;
      line-height:0;
    }

  }

  .content{
    display: block;
    font-size: 20px;
  }

  .timestamp{
    display: inline-block;
    font-size: 14px;
  }

  .post-opts{
    float: right;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;

    &:hover{
      color: #0033cc;
    }
  }
}

.micropost-content:hover{
  background-color: rgba(0,100,0,0.4);
  transition: all .4s;
  -webkit-transition: all .4s; /* Safari */

}

.new-micropost{
  width: 80%;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #0033cc;
  border-radius: 4px;
  background-color: rgba(174, 238, 238, 0.4);
  transition: all .4s;
  -webkit-transition: all .4s; /* Safari */
  padding: 4px;

  &:focus {
    background-color: rgba(174, 238, 238, 0.9);
  }
  &:hover {
    background-color: rgba(174, 238, 238, 0.7);
  }
  border: solid 1px #888;
  margin-bottom: 3px;
}

.micropost-submit{
  width: 80%;
  font-size: 16px;
  margin-bottom: 15px;

}

.relationship-field{
  cursor: default;
  background-color: #33AAff;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;

  &:hover{
    background-color: #0033cc;
  }
}